<h1>Listing s_boards</h1>

<table>
  <thead>
    <tr>
      <th>Styleboard</th>
      <th>Image url</th>
      <th>Place</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @s_boards.each do |s_board| %>
      <tr>
        <td><%= s_board.styleboard %></td>
        <td><%= s_board.image_url %></td>
        <td><%= s_board.place %></td>
        <td><%= link_to 'Show', s_board %></td>
        <td><%= link_to 'Edit', edit_s_board_path(s_board) %></td>
        <td><%= link_to 'Destroy', s_board, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New S board', new_s_board_path %>
