<p id="notice"><%= notice %></p>

<h2><%= @storyboard.name %></h2>

<p><%= @storyboard.description %></p>

<center><table>
  <tbody>
    <% @storyboard.boards.sort_by { |a| a[:place]}.each do |board| %>
    <tr>
      <td>
        <img class="board" src="<%= board.image_url %>">
        <p><%= "#{@storyboard.name} ##{board.id}, Place##{board.place}"%></p>
      </td>
      <% end %>
    </tr>
  </tbody>
</table></center>

<%= link_to 'Back to Storyboards', storyboards_path %>
