<p id="notice"><%= notice %></p>

<h2><%= @styleboard.name %></h2>

<p><%= @styleboard.description %></p>

<center><table>
  <tbody>
    <% @styleboard.s_boards.sort_by { |a| a[:place]}.each do |sboard| %>
    <tr>
      <td>
        <img class="board" src="<%= sboard.image_url %>">
        <p><%= "#{@styleboard.name} ##{sboard.place}"%></p>
      </td>
      <% end %>
    </tr>
  </tbody>
</table></center>

<%= link_to 'Back to Styleboards', styleboards_path %>
