<%= form_for(@g_board) do |f| %>
  <% if @g_board.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@g_board.errors.count, "error") %> prohibited this g_board from being saved:</h2>

      <ul>
      <% @g_board.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :graphic_id %><br>
    <%= f.text_field :graphic_id %>
  </div>
  <div class="field">
    <%= f.label :image %><br>
    <%= f.text_field :image %>
  </div>
  <div class="field">
    <%= f.label :place %><br>
    <%= f.number_field :place %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
