<p id="notice"><%= notice %></p>

<h2><%= @graphic.name %></h2>

<p><%= @graphic.description %></p>

<center><table>
  <tbody>
    <% @graphic.g_boards.sort_by { |a| a[:place]}.each do |board| %>
    <tr>
      <td>
        <img class="board" src="<%= board.image %>">
        <p><%= "#{@graphic.name} ##{board.place}"%></p>
      </td>
      <% end %>
    </tr>
  </tbody>
</table></center>

<%= link_to 'Back to Graphic Designs', graphics_path %>
